pandas==2.0.3
numpy==1.23.5
scipy==1.11.1
python-dotenv==1.0.0
tinkoff==0.1.1
tinkoff-investments
Pyrogram==2.0.106
pytz==2023.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
prophet==1.1.4
scikit-learn==1.3.0
SQLAlchemy==1.4.49
SQLAlchemy-Utils==0.38.3
psycopg2-binary==2.9.6
requests==2.31.0
requests-cache==1.2.0
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.1
lxml==4.9.3
psutil==5.9.5
pyTelegramBotAPI==4.6.1
python-telegram-bot==21.1.1
asyncpg==0.28.0
pymongo==4.4.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
tqdm==4.65.0
pyahocorasick==2.1.0
openai==1.30.3
Pillow==10.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
cryptography==41.0.2
plotly==5.15.0
TgCrypto==1.2.5